.grid{
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
}


.grid div{
    height: 40px;
    width: 40px;
    /* border: x solid black; */
}

.checked{
    background-color:black;
    color: white;
}


.bomb{
    background-color: grey;
    
}